.heading   {
text-align: center;
background-color: thistle;
padding-top: 20px;
color:rgb(41, 40, 40) ;
}
p{
    text-align: justify;
    margin-left: 30px;
    padding: 10px;
    font-family: 'Courgette', cursive;
}
.wrapper {
    width: 70%;
}
.mapouter{
    width:30%;
    float: right;
   
}
h2{
    text-align: center;
    
}
